* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 165px;
    background-color: #363434;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.header h2 {
    padding: 65px;
}

.navbar {
    height: 70px;
    background-color: #999595;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.navbar h2 {
    padding: 15px;
}

.main {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.main-content {
    height: 700px;
    width: 1200px;
    background-color: gainsboro;
}

.main-content h2 {
    position: relative;
    top: 50%;
    left: 40%;
    font-size: 50px;
    font-weight: 400;
}

.side-bar {
    height: 700px;
    width: 300px;
    background-color: rgb(78, 76, 76)
}

.side-bar h2 {
    position: relative;
    top: 50%;
    left: 35%;
    font-size: 30px;
    font-weight: 600;
}

footer {
    height: 165px;
    background-color: #363434;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 65px;
}

/* footer h2 {
    padding: 65px;
} */